@import "tailwindcss";

:root {
  --primary: #2563eb;
  --secondary: #ffffff;
}

.dark {
  --primary: #60a5fa;
  --secondary: #1e293b;
}

/* Fade-in animation for "Os Mais Vendidos" cards */
.animate-fade-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
